*.toml
CHANGELOG.md
.release-please-manifest.json
deploy/helm/ix-csi/README.md
deploy/helm/ix-csi/values.schema.json
deploy/helm/ix-csi/templates/**
operator/bundle/**
operator/config/**
operator/ocp-install/**
